{% extends "orders/base.html" %}

{% block title %}
Cart Selections
{% endblock %}

{% block body %}
<h1>Cart Selections</h1>

{% if cartitems is not None %}
<!-- <h2>Username: {{customer.username}}</h2> -->
<h3>Total: ${{cart}}</h3>
<p>
  <button class="action-button" id="place-order">Check out</button>
</p>
<ul>
  {% for cartitem in cartitems %}
  <li><a href="{% url 'cartitemdelete' cartitem.id %}">delete</a>{{cartitem.display}}</li>

  {%endfor %}
</ul>
{% else %}
<p>No items in cart. </p>
<p>Return to Menu to add items.</p>
{% endif %}
{% endblock %}