{% extends "orders/base.html" %}

{% block title %}
Menu Selection
{% endblock %}

{% block body %}

<h1>Menu Selection</h1>

<h2>Pizza</h2>
<form id="pizza-form" action="{% url 'addpizza' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="pizza-qty">Quantity:</label>
        <input type="number" value=1 name="pizza-qty" />
    </p>
    <p class="pizza-choice">
        <label for="size-filter">Filter size:</label>
        <input type="radio" name="size" value="Small"> Small
        <input type="radio" name="size" value="Large"> Large
    </p>
    <p class="pizza-choice">
        <label for="style-filter">Filter style:</label>
        <input type="radio" name="style" value="Regular"> Regular
        <input type="radio" name="style" value="Sicilian"> Sicilian
    </p>

    <p>
        <select class="select-css" style="width:25rem;" id="select-pizza">
            {% for pizza in pizzas %}
            <option value="{{pizza.normalize}}">{{pizza}}</option>
            {%endfor %}
        </select>
    </p>

    <div class="toppings-check">
        <p>Select toppings:</p>
        <section class="toppings-checkboxes">

            {% for topping in toppings %}
            <li>
                <input type="checkbox" name="{{topping}}" value="{{topping}}"> {{topping}}
            </li>
            {% endfor %}
        </section>
    </div>
    <p>
        <button type="submit">Add Pizza</button>
    </p>
</form>
<hr>
<h2>Subs</h2>

<form id="subs-form" action="{% url 'addsub' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="sub-qty">Quantity:</label>
        <input type="number" value=1 name="sub-qty" />
    </p>
    <p>
        <label for="addcheese">Check to add cheese ($.50 extra)</label>
        <input type="checkbox" name="addcheese" value="True"> {{topping}}
    </p>
    <p class="sub-size">
        <label for="size-filter">Filter size:</label>
        <input type="radio" name="size" value="Small"> Small
        <input type="radio" name="size" value="Large"> Large
    </p>
    <p>
        <select id="select-sub" class="select-css" style="width:25rem;" >
            {% for sub in subs %}
            <option value="{{sub.id}}">{{sub}}</option>
            {%endfor %}
        </select>
    </p>
    <p>
        <button type="submit">Add Sub</button>
    </p>
</form>

<hr>
<h2>Dinner</h2>

<form id="dinner-platter-form" action="{% url 'adddinnerplatter' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="dinnerplatter-qty">Quantity:</label>
        <input type="number" value=1 name="dinnerplatter-qty" />
    </p>
    <p class="dinnerplatter-size">
        <label for="size-filter">Filter size:</label>
        <input type="radio" name="size" value="Small"> Small
        <input type="radio" name="size" value="Large"> Large
    </p>
    <p>
        <select id="select-dinnerplatter" class="select-css" style="width:25rem;" >
            {% for dinnerplatter in dinnerplatters %}
            <option value="{{dinnerplatter.id}}">{{dinnerplatter}}</option>
            {%endfor %}
        </select>
    </p>
    <p>
        <button type="submit">Add Dinner Platter</button>
    </p>
</form>

<hr>
<h2>Pasta</h2>

<form id="pasta-form" action="{% url 'addpasta' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="pasta-qty">Quantity:</label>
        <input type="number" value=1 name="pasta-qty" />
    </p>
    <p>
        <select name="select-pasta" id="select-pasta" class="select-css" style="width:25rem;" >
            {% for pasta in pastas %}
            <option value="{{pasta.id}}">{{pasta}}</option>
            {%endfor %}
        </select>
    </p>
    <p>
        <button type="submit">Add Pasta</button>
    </p>
</form>


{% endblock %}